.bloque{
  width: 100%;
  max-width: 1400px;   /* ajusta si quieres más ancho */
  margin: 0 auto;
  padding: 24px 12px 120px; /* deja espacio abajo para el “fondo” */
  position: relative;
  z-index: 1;          /* para que esté sobre el fondo */
  background-color: rgba(255, 255, 255, 0.712);
  border-radius: 15px;
}

.foto{
width: 190px;
height: 190px;
border-radius: 50%;
object-fit: cover;
cursor: pointer;
}
  @media (max-width: 576px) {
    .foto {
      width: 120px;
      height: 120px;
    }
  }
.row.secretarias{
  max-width: 800px;
  margin: auto;
}
.vista-usuario {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* fuente moderna y limpia */
  color: #444; /* color de texto gris oscuro */
  text-align: center; /* centra el texto */
  height: 100%;
  width: 100%;
  max-width: 450px; /* ancho máximo para tarjetas */
  border-radius: 12px; /* bordes redondeados */
  border: 0 !important;
  box-shadow: none !important;
  background: transparent !important; /* fondo transparente */
}

.vista-usuario p.dpto {
  font-weight: 700;
  font-size: 1.6rem; /* tamaño mayor para nombres */
  color: #2c3e50;
  margin-bottom: 0.3rem;
}

.vista-usuario h5 {
  font-weight: 600;
  font-size: 1.30rem;
  color: #0c345f;
  margin-bottom: 0.2rem;
  font-style: italic;
}

.vista-usuario p.text-muted {
  font-size: 1rem;
  color: #6c757d;
  font-weight: 500;
}
@media (max-width: 576px) {
  .vista-usuario h5 {
    font-size: 1.15rem;
  }

  .vista-usuario p.text-primary {
    font-size: 1.05rem;
  }

  .vista-usuario p.text-muted {
    font-size: 0.95rem;
  }
}
.bloque{
  width: 100%;
  max-width: 1400px;   /* ajusta si quieres más ancho */
  margin: 0 auto;
  padding: 24px 12px 120px; /* deja espacio abajo para el “fondo” */
  position: relative;
  z-index: 1;          /* para que esté sobre el fondo */
  background-color: rgba(255, 255, 255, 0.712);
  border-radius: 15px;
}
