<div class="exalumno">
    <div class="perfil-container" *ngIf="alumno as a">

        <div class="botones">
            <button (click)="volver()">⬅️ Volver</button>
            <button (click)="guardar()">💾 Guardar</button>
        </div>

        <h1 class="titulo">Editar Exalumno</h1>

        <div class="perfil-card">
            <h3 class="titulo">Información personal</h3>
             <div class="campo">
                <label>RUT</label>
                <input [(ngModel)]="a.rut" name="rut">
            </div>

            <div class="campo">
                <label>Nombres</label>
                <input [(ngModel)]="a.nombres" name="nombres">
            </div>

            <div class="campo">
                <label>Apellido paterno</label>
                <input [(ngModel)]="a.paterno" name="paterno">
            </div>

            <div class="campo">
                <label>Apellido materno</label>
                <input [(ngModel)]="a.materno" name="materno">
            </div>
        </div>
        <div class="perfil-card">
            <h3 class="titulo">Información académica</h3>
            <div>
                <label>Año de ingreso</label>
                <input type="number" [(ngModel)]="a.anio_ingreso" name="anio_ingreso">
            </div>
            <div>
                <label>Año de titulación</label>
                <input type="number" [(ngModel)]="a.anio_titulacion" name="anio_titulacion">
            </div>
            <div>
                <label>Carrera</label>
                <input [(ngModel)]="a.nombre_carrera" name="nombre_carrera" placeholder="Carrera">
            </div>
            <div>
                <label>Facultad</label>
                <input [(ngModel)]="a.facultad" name="facultad" placeholder="Facultad">
            </div>
            <div>
                <label>Título</label>
                <input [(ngModel)]="a.nombre_titulo" name="nombre_titulo" placeholder="Título">
            </div>
        </div>
        

        <!-- ===================== -->
        <!-- EMAILS -->
        <!-- ===================== -->
        <div class="perfil-card">
            <h3>Emails</h3>

            <div *ngFor="let e of a.emails; let i = index" class="campo-inline">
                <input [(ngModel)]="a.emails[i]" name="email{{i}}">
                <button (click)="eliminarEmail(i)">❌</button>
            </div>

            <button (click)="agregarEmail()">+ Agregar email</button>
        </div>

        <!-- ===================== -->
        <!-- TELÉFONOS -->
        <!-- ===================== -->
        <div class="perfil-card">
            <h3>Teléfonos</h3>

            <div *ngFor="let t of a.telefonos; let i = index" class="campo-inline">
            <input [(ngModel)]="a.telefonos[i]" name="telefono{{i}}">
            <button (click)="eliminarTelefono(i)">❌</button>
            </div>

            <button (click)="agregarTelefono()">+ Teléfono</button>
        </div>

        <!-- ===================== -->
        <!-- TRABAJOS -->
        <!-- ===================== -->
        <div class="perfil-card">
            <h3>Experiencia laboral</h3>

            <div *ngFor="let t of a.trabajos; let i = index" >  
                <button (click)="eliminarTrabajo(i)">❌</button>
                <div>
                    <label>Empresa</label>
                    <input [(ngModel)]="t.empresa" name="empresa{{i}}" placeholder="Empresa">         
                </div>
                <div>
                    <label>Cargo</label>
                    <input [(ngModel)]="t.cargo" name="cargo{{i}}" placeholder="Cargo">
                </div>
                <div>
                    <label>Sueldo aproximado</label>
                    <input type="text" [(ngModel)]="t.sueldo_aproximado" (ngModelChange)="onSueldoChange($event, i)" placeholder="Monto">
                </div>

                <label class="check-inline">
                    Actual
                    <input type="checkbox" [(ngModel)]="t.actual" name="actual{{i}}">
                </label>
            </div><br>

            <button (click)="agregarTrabajo()">+ Trabajo</button>
        </div>

    </div>

</div>