.opcion{
    color: #054182;
    font-size: large;
}
.opcion:hover{
    background-color: #054182;
    color: white;
}
.opcion.active{
    background-color: #054182;
    color: white;
}
.titulo {
    color: #054182;
    font-family: cursive;   
}
.opciones{
    border: 2px solid;
    border-color: #054182;
    border-radius: 5px;
    margin-top: 20px;
}
table th input {
  width: 100%;
  margin-top: 5px;
}
/* Resaltar fila completa al pasar el mouse */
.table tbody tr:hover {
    background-color: #4491e8d2; /* color azul clarito, puedes cambiar */
    cursor: pointer; /* cambia el cursor para indicar que es interactivo */
}
.carga, .descarga{
    background-color: #054182;
    color: white;
}
.accion{
    border-color: #033265;
    border-radius: 5px;
    color: white;
}
.accion:hover{
    background-color: #033263;
}
.encabezado{
    border: 2px solid;
    border-color: #054182;
    border-radius: 5px;
}
.filtro-grupo {
  display: flex;
  flex-direction: column;
  align-items: center;   /* centra horizontalmente */
  gap: 4px;
}

.filtro-grupo label {
  font-weight: bold;
}

.filtro-grupo select {
  padding: 4px;
}