.opciones{
    border: 2px solid;
    border-color: #054182;
    border-radius: 5px;
    margin-top: 20px;
    background-color: white;
}.opcion, .sub-opcion{
     background-color: transparent;
     border: none;
    color: #054182;
    font-size: large;
}
.opcion:hover, .sub-opcion:hover{
    background-color: #054182;
    color: white;
}
.opcion.active{
    background-color: #054182;
    color: white;
}