
<div class="exalumno">
    <div class="perfil-container" *ngIf="alumno as a; else cargando">

    <!-- botones -->
    <div class="botones d-flex gap-3">
        <button (click)="volver()">← Volver</button>
        <button (click)="irEditar()">✏️ Editar datos</button>
    </div><br>

    <h1 class="titulo">Perfil del Exalumno</h1>
    <!-- HEADER -->
    <div class="perfil-header">
        <img 
        [src]="a.foto || 'assets/user.png'" 
        class="foto-alumno"
        alt="Foto del alumno"
        />
        <div class="info-principal">
        <h2>
            {{ a.nombres }} 
            {{ a.paterno }} 
            {{ a.materno }}
        </h2>
        <p><strong>RUT:</strong> {{ a.rut }}</p>
        <p><strong>Título:</strong> {{ a.nombre_titulo }}</p>
        </div>
    </div>

    <!-- DATOS ACADÉMICOS -->
    <div class="perfil-card">
        <h3>Datos académicos</h3>

        <p><strong>Carrera:</strong> {{ a.nombre_carrera }}</p>
        <p><strong>Facultad:</strong> {{ a.facultad }}</p>
        <p><strong>Año de ingreso:</strong> {{ a.anio_ingreso }}</p>
        <p><strong>Año de titulación:</strong> {{ a.anio_titulacion }}</p>
    </div>

        <!-- CONTACTO -->
        <div class="perfil-card">
            <h3>Datos de contacto</h3>

            <p><strong>Emails:</strong></p>
            <ul>
            <li *ngFor="let e of a.emails">{{ e }}</li>
            </ul>

            <p><strong>Teléfonos:</strong></p>
            <ul>
            <li *ngFor="let t of a.telefonos">{{ t }}</li>
            </ul>
        </div>

        <!-- EXPERIENCIA LABORAL -->
        <div class="perfil-card">
            <h3>Experiencia laboral</h3>
            <div *ngFor="let t of alumno.trabajos" class="trabajo-card">
                <p><strong>Empresa:</strong> {{ t.empresa }}</p>
                <p><strong>Cargo:</strong> {{ t.cargo }}</p>
                <p *ngIf="t.actual"><strong>Trabajo actual</strong> 🟢 </p>
                <p *ngIf="t.sueldo_aproximado"><strong>Sueldo:</strong>💰 $ {{ t.sueldo_aproximado | number:'1.0-0' }}
                </p>
            </div>
            <ng-template #sinTrabajos>
            <p>No hay información laboral registrada</p>
            </ng-template>
        </div>

    </div>

    <!-- LOADING -->
    <ng-template #cargando>
    <p>Cargando datos...</p>
    </ng-template>
</div>