.exalumno{
    background-color: white;
    border-radius: 15px;
    padding: 15px;
}
.info-principal h2 {
  margin: 0;
  color: #054182;
}
button {
  padding: 10px 15px;
  border: none;
  background: #054182;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0d47a1;
}
.perfil-container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}
.perfil-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.perfil-header strong{
    color: #054182;
}
.perfil-card {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.perfil-card strong {
  color: #054182;
}
.foto-alumno {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}