.empleador{
    background-color: white;
    padding: 20px;
    border-radius: 15px;

}
.nueva{
    background-color: #054182;
    border-radius: 5px;
    color: white;
}
.nueva:hover{
    background-color: white;
    color:  #204d7d;
    border: 1px solid;
}
.cancelar{
    background-color: red;
    color:  white;
    border: 1px solid;
}
.cancelar:hover{
    background-color: white;
    color: red;
}