-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: intranet_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `actividades_certificado`
--

DROP TABLE IF EXISTS `actividades_certificado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `actividades_certificado` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `tipo` enum('asignatura','actividad') NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `actividades_certificado`
--

LOCK TABLES `actividades_certificado` WRITE;
/*!40000 ALTER TABLE `actividades_certificado` DISABLE KEYS */;
INSERT INTO `actividades_certificado` VALUES (1,'Desarrollo de Software','asignatura'),(2,'Base de Datos','asignatura'),(3,'Ingenier├¡a de Software','asignatura'),(4,'Redes y Comunicaciones','asignatura'),(5,'Programaci├│n Web','asignatura'),(6,'Sistemas Operativos','asignatura'),(7,'Hackathon Regional','actividad'),(8,'Taller de Emprendimiento','actividad'),(9,'Congreso Estudiantil','actividad'),(10,'Voluntariado Tecnol├│gico','actividad');
/*!40000 ALTER TABLE `actividades_certificado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alumnos`
--

DROP TABLE IF EXISTS `alumnos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `alumnos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `rut` varchar(15) NOT NULL,
  `nombres` varchar(50) NOT NULL,
  `apellido1` varchar(50) NOT NULL,
  `apellido2` varchar(50) DEFAULT NULL,
  `plan` int(11) DEFAULT NULL,
  `clave` varchar(255) DEFAULT NULL,
  `sexo` varchar(10) DEFAULT NULL,
  `fecha_nacimiento` date DEFAULT NULL,
  `nacionalidad` varchar(50) DEFAULT NULL,
  `etnia` varchar(50) DEFAULT NULL,
  `direccion` varchar(255) DEFAULT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `telefono_emergencia` varchar(20) DEFAULT NULL,
  `correo_personal` varchar(100) DEFAULT NULL,
  `correo_institucional` varchar(100) DEFAULT NULL,
  `colegio` varchar(255) DEFAULT NULL,
  `anio_ingreso` year(4) DEFAULT NULL,
  `fecha_matricula` datetime DEFAULT NULL,
  `sistema_ingreso` varchar(50) DEFAULT NULL,
  `puntaje_ingreso` int(11) DEFAULT NULL,
  `nem` int(11) DEFAULT NULL,
  `avance` int(3) DEFAULT NULL,
  `gratuidad` varchar(255) DEFAULT NULL,
  `tipo` enum('regular','especial') DEFAULT 'regular',
  `anio_reingreso` int(11) DEFAULT NULL,
  `plan_texto` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `rut` (`rut`),
  UNIQUE KEY `rut_2` (`rut`),
  KEY `idx_alumnos_plan` (`plan`)
) ENGINE=InnoDB AUTO_INCREMENT=3272 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alumnos`
--

LOCK TABLES `alumnos` WRITE;
/*!40000 ALTER TABLE `alumnos` DISABLE KEYS */;
/*!40000 ALTER TABLE `alumnos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `campus_buildings`
--

DROP TABLE IF EXISTS `campus_buildings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `campus_buildings` (
  `id` varchar(10) NOT NULL,
  `label` varchar(10) NOT NULL,
  `type` varchar(20) NOT NULL CHECK (`type` in ('principal','facultad','admin','servicio','aula','auditorio','otro')),
  `nombre` varchar(200) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `telefono` varchar(50) DEFAULT NULL,
  `correo` varchar(100) DEFAULT NULL,
  `web` varchar(200) DEFAULT NULL,
  `direccion` varchar(300) DEFAULT NULL,
  `horario` varchar(100) DEFAULT NULL,
  `x` float NOT NULL DEFAULT 0,
  `y` float NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `campus_buildings`
--

LOCK TABLES `campus_buildings` WRITE;
/*!40000 ALTER TABLE `campus_buildings` DISABLE KEYS */;
/*!40000 ALTER TABLE `campus_buildings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `certificados`
--

DROP TABLE IF EXISTS `certificados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `certificados` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `alumno_rut` varchar(15) NOT NULL,
  `practica_num` tinyint(4) NOT NULL,
  `creado_por` varchar(100) NOT NULL,
  `fecha_creacion` datetime NOT NULL DEFAULT current_timestamp(),
  `ruta_archivo` varchar(500) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `certificados`
--

LOCK TABLES `certificados` WRITE;
/*!40000 ALTER TABLE `certificados` DISABLE KEYS */;
INSERT INTO `certificados` VALUES (8,'Certificado_P1_19463403K','19463403-K',1,'Shina','2026-06-16 20:20:27','storage/certificados/Certificado_P1_19463403K.pdf'),(14,'Certificado_P1_202159443','20215944-3',1,'Shina','2026-06-17 22:23:59','storage/certificados/Certificado_P1_202159443.pdf'),(16,'Certificado_P1_194948379','19494837-9',1,'Shina','2026-06-25 17:48:18','storage/certificados/Certificado_P1_194948379.pdf'),(17,'Certificado_P1_19463403K','19.463.403-K',1,'Shina','2026-06-25 17:49:10','storage/certificados/Certificado_P1_19463403K.pdf');
/*!40000 ALTER TABLE `certificados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `certificados_externos`
--

DROP TABLE IF EXISTS `certificados_externos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `certificados_externos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `asignatura` varchar(255) DEFAULT NULL,
  `actividad` varchar(255) DEFAULT NULL,
  `alumno_id` int(11) NOT NULL,
  `alumno_rut` varchar(15) NOT NULL,
  `fecha_emision` date NOT NULL,
  `subido_por` varchar(100) NOT NULL,
  `fecha_subida` datetime NOT NULL DEFAULT current_timestamp(),
  `ruta_original` varchar(500) NOT NULL,
  `ruta_final` varchar(500) NOT NULL,
  `codigo` varchar(9) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `alumno_id` (`alumno_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `certificados_externos`
--

LOCK TABLES `certificados_externos` WRITE;
/*!40000 ALTER TABLE `certificados_externos` DISABLE KEYS */;
/*!40000 ALTER TABLE `certificados_externos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documentos`
--

DROP TABLE IF EXISTS `documentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `documentos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `categoria` varchar(100) NOT NULL,
  `archivo` varchar(255) NOT NULL,
  `activo` tinyint(4) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documentos`
--

LOCK TABLES `documentos` WRITE;
/*!40000 ALTER TABLE `documentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `documentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `empleador_tokens`
--

DROP TABLE IF EXISTS `empleador_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `empleador_tokens` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `token` varchar(64) NOT NULL,
  `correo` varchar(150) NOT NULL,
  `empleador_id` int(11) DEFAULT NULL,
  `usado` tinyint(4) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `token` (`token`),
  KEY `empleador_id` (`empleador_id`),
  CONSTRAINT `empleador_tokens_ibfk_1` FOREIGN KEY (`empleador_id`) REFERENCES `empleadores` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `empleador_tokens`
--

LOCK TABLES `empleador_tokens` WRITE;
/*!40000 ALTER TABLE `empleador_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `empleador_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `empleadores`
--

DROP TABLE IF EXISTS `empleadores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `empleadores` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `empresa_id` int(11) NOT NULL,
  `nombres` varchar(100) NOT NULL,
  `apellido1` varchar(100) NOT NULL,
  `apellido2` varchar(100) DEFAULT NULL,
  `cargo` varchar(100) DEFAULT NULL,
  `correo` varchar(150) NOT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `correo` (`correo`),
  KEY `empresa_id` (`empresa_id`),
  CONSTRAINT `empleadores_ibfk_1` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `empleadores`
--

LOCK TABLES `empleadores` WRITE;
/*!40000 ALTER TABLE `empleadores` DISABLE KEYS */;
INSERT INTO `empleadores` VALUES (1,2,'Scarlet Aylin','Gavia','Mondaca','supervisor','scarlet.gavia@gmail.com','987654321','2026-06-10 20:33:50'),(2,7,'Scarlet Aylin Andrea','Gavia','Mondaca','Jefe','klas@gmail.com','966293124','2026-06-17 04:13:34');
/*!40000 ALTER TABLE `empleadores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `empresas`
--

DROP TABLE IF EXISTS `empresas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `empresas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) NOT NULL,
  `activo` tinyint(4) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `sector` enum('Privado','P├║blico') DEFAULT 'Privado',
  `region` varchar(100) DEFAULT NULL,
  `comuna` varchar(100) DEFAULT NULL,
  `direccion` varchar(255) DEFAULT NULL,
  `tipo_convenio` enum('Sin especificar','Convenio marco','Convenio espec├¡fico de pr├íctica','Convenio de colaboraci├│n','Convenio individual de pr├íctica','Otro') DEFAULT 'Sin especificar',
  `estado_convenio` enum('Sin convenio','Vigente','No vigente','En tr├ímite') DEFAULT 'Sin convenio',
  `fecha_convenio` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `empresas`
--

LOCK TABLES `empresas` WRITE;
/*!40000 ALTER TABLE `empresas` DISABLE KEYS */;
/*!40000 ALTER TABLE `empresas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evaluacion_empresa`
--

DROP TABLE IF EXISTS `evaluacion_empresa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evaluacion_empresa` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `seguimiento_id` int(11) NOT NULL,
  `criterio_asistencia` char(1) DEFAULT NULL,
  `criterio_cantidad` char(1) DEFAULT NULL,
  `criterio_calidad` char(1) DEFAULT NULL,
  `criterio_normativas` char(1) DEFAULT NULL,
  `criterio_aprendizaje` char(1) DEFAULT NULL,
  `criterio_conocimientos` char(1) DEFAULT NULL,
  `criterio_habilidades` char(1) DEFAULT NULL,
  `criterio_trabajo_equipo` char(1) DEFAULT NULL,
  `descripcion_trabajo` text DEFAULT NULL,
  `comentarios` text DEFAULT NULL,
  `utilidad` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `seguimiento_id` (`seguimiento_id`),
  CONSTRAINT `evaluacion_empresa_ibfk_1` FOREIGN KEY (`seguimiento_id`) REFERENCES `seguimiento_practica` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evaluacion_empresa`
--

LOCK TABLES `evaluacion_empresa` WRITE;
/*!40000 ALTER TABLE `evaluacion_empresa` DISABLE KEYS */;
/*!40000 ALTER TABLE `evaluacion_empresa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evaluacion_informe`
--

DROP TABLE IF EXISTS `evaluacion_informe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evaluacion_informe` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `seguimiento_id` int(11) NOT NULL,
  `criterio1` char(1) DEFAULT NULL,
  `criterio2` char(1) DEFAULT NULL,
  `criterio3` char(1) DEFAULT NULL,
  `criterio4` char(1) DEFAULT NULL,
  `criterio5` char(1) DEFAULT NULL,
  `criterio6` char(1) DEFAULT NULL,
  `observaciones` text DEFAULT NULL,
  `resultado` char(1) NOT NULL,
  `archivo_feedback` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `seguimiento_id` (`seguimiento_id`),
  CONSTRAINT `evaluacion_informe_ibfk_1` FOREIGN KEY (`seguimiento_id`) REFERENCES `seguimiento_practica` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evaluacion_informe`
--

LOCK TABLES `evaluacion_informe` WRITE;
/*!40000 ALTER TABLE `evaluacion_informe` DISABLE KEYS */;
/*!40000 ALTER TABLE `evaluacion_informe` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exalumno_emails`
--

DROP TABLE IF EXISTS `exalumno_emails`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `exalumno_emails` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `exalumno_id` int(11) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `exalumno_id` (`exalumno_id`),
  CONSTRAINT `exalumno_emails_ibfk_1` FOREIGN KEY (`exalumno_id`) REFERENCES `exalumnos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1145 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exalumno_emails`
--

LOCK TABLES `exalumno_emails` WRITE;
/*!40000 ALTER TABLE `exalumno_emails` DISABLE KEYS */;
/*!40000 ALTER TABLE `exalumno_emails` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exalumno_telefonos`
--

DROP TABLE IF EXISTS `exalumno_telefonos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `exalumno_telefonos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `exalumno_id` int(11) DEFAULT NULL,
  `telefono` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `exalumno_id` (`exalumno_id`),
  CONSTRAINT `exalumno_telefonos_ibfk_1` FOREIGN KEY (`exalumno_id`) REFERENCES `exalumnos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=823 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exalumno_telefonos`
--

LOCK TABLES `exalumno_telefonos` WRITE;
/*!40000 ALTER TABLE `exalumno_telefonos` DISABLE KEYS */;
/*!40000 ALTER TABLE `exalumno_telefonos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exalumno_trabajos`
--

DROP TABLE IF EXISTS `exalumno_trabajos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `exalumno_trabajos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `exalumno_id` int(11) DEFAULT NULL,
  `empresa` varchar(255) DEFAULT NULL,
  `cargo` varchar(255) DEFAULT NULL,
  `sueldo_aproximado` int(11) DEFAULT NULL,
  `actual` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `exalumno_id` (`exalumno_id`),
  CONSTRAINT `exalumno_trabajos_ibfk_1` FOREIGN KEY (`exalumno_id`) REFERENCES `exalumnos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exalumno_trabajos`
--

LOCK TABLES `exalumno_trabajos` WRITE;
/*!40000 ALTER TABLE `exalumno_trabajos` DISABLE KEYS */;
INSERT INTO `exalumno_trabajos` VALUES (1,101,'SQM','Ing sistemas',850000,1);
/*!40000 ALTER TABLE `exalumno_trabajos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exalumnos`
--

DROP TABLE IF EXISTS `exalumnos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `exalumnos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `rut` varchar(20) NOT NULL,
  `paterno` varchar(100) DEFAULT NULL,
  `materno` varchar(100) DEFAULT NULL,
  `nombres` varchar(150) DEFAULT NULL,
  `anio_ingreso` int(11) DEFAULT NULL,
  `anio_titulacion` int(11) DEFAULT NULL,
  `nombre_carrera` varchar(255) DEFAULT NULL,
  `facultad` varchar(255) DEFAULT NULL,
  `nombre_titulo` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `rut` (`rut`)
) ENGINE=InnoDB AUTO_INCREMENT=254 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exalumnos`
--

LOCK TABLES `exalumnos` WRITE;
/*!40000 ALTER TABLE `exalumnos` DISABLE KEYS */;
/*!40000 ALTER TABLE `exalumnos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hito_duraciones`
--

DROP TABLE IF EXISTS `hito_duraciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hito_duraciones` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `hito_num` int(11) NOT NULL,
  `practica_num` int(11) NOT NULL,
  `duracion_dias` int(11) DEFAULT NULL,
  `duracion_horas` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_hito` (`hito_num`,`practica_num`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hito_duraciones`
--

LOCK TABLES `hito_duraciones` WRITE;
/*!40000 ALTER TABLE `hito_duraciones` DISABLE KEYS */;
INSERT INTO `hito_duraciones` VALUES (1,1,1,NULL,180),(2,1,2,NULL,360),(3,2,1,30,NULL),(4,2,2,30,NULL),(5,3,1,10,NULL),(6,3,2,10,NULL),(7,4,1,10,NULL),(8,4,2,10,NULL),(9,5,1,15,NULL),(10,5,2,15,NULL),(11,6,1,7,NULL),(12,6,2,7,NULL);
/*!40000 ALTER TABLE `hito_duraciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `info_carrera`
--

DROP TABLE IF EXISTS `info_carrera`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `info_carrera` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `codigo_demre` varchar(50) DEFAULT NULL,
  `grado_titulo` varchar(255) DEFAULT NULL,
  `facultad` varchar(120) DEFAULT NULL,
  `departamento` varchar(120) DEFAULT NULL,
  `director` varchar(120) DEFAULT NULL,
  `duracion` varchar(30) DEFAULT NULL,
  `modalidad` varchar(50) DEFAULT NULL,
  `jornada` varchar(30) DEFAULT NULL,
  `sede` varchar(50) DEFAULT NULL,
  `anio_creacion` varchar(10) DEFAULT NULL,
  `ultima_modif_plan` varchar(15) DEFAULT NULL,
  `perfil_egreso` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `info_carrera`
--

LOCK TABLES `info_carrera` WRITE;
/*!40000 ALTER TABLE `info_carrera` DISABLE KEYS */;
/*!40000 ALTER TABLE `info_carrera` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `malla`
--

DROP TABLE IF EXISTS `malla`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `malla` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `plan_id` int(11) DEFAULT NULL,
  `nro` varchar(10) DEFAULT NULL,
  `nombre` varchar(255) DEFAULT NULL,
  `tipo` varchar(50) DEFAULT NULL,
  `pm` int(11) DEFAULT NULL,
  `creditos` int(11) DEFAULT NULL,
  `hc` int(11) DEFAULT NULL,
  `ht` int(11) DEFAULT NULL,
  `hl` int(11) DEFAULT NULL,
  `codigo` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_malla_plan_codigo` (`plan_id`,`codigo`),
  KEY `idx_malla_plan` (`plan_id`),
  KEY `idx_malla_codigo` (`codigo`),
  CONSTRAINT `fk_malla_plan` FOREIGN KEY (`plan_id`) REFERENCES `plan` (`id`),
  CONSTRAINT `malla_ibfk_1` FOREIGN KEY (`plan_id`) REFERENCES `plan` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=410 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `malla`
--

LOCK TABLES `malla` WRITE;
/*!40000 ALTER TABLE `malla` DISABLE KEYS */;
/*!40000 ALTER TABLE `malla` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `malla_restriccion`
--

DROP TABLE IF EXISTS `malla_restriccion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `malla_restriccion` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `plan_id` int(11) NOT NULL,
  `ramo_codigo` varchar(20) NOT NULL,
  `req_codigo` varchar(20) NOT NULL,
  `tipo` enum('PRE','CO') NOT NULL DEFAULT 'PRE',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_mr` (`plan_id`,`ramo_codigo`,`req_codigo`,`tipo`),
  UNIQUE KEY `uq_plan_ramo_req` (`plan_id`,`ramo_codigo`,`req_codigo`),
  KEY `idx_mr_plan` (`plan_id`),
  KEY `idx_mr_ramo` (`plan_id`,`ramo_codigo`),
  KEY `idx_mr_req` (`plan_id`,`req_codigo`),
  KEY `idx_plan_ramo` (`plan_id`,`ramo_codigo`),
  KEY `idx_plan_req` (`plan_id`,`req_codigo`),
  CONSTRAINT `fk_mr_plan` FOREIGN KEY (`plan_id`) REFERENCES `plan` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=157 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `malla_restriccion`
--

LOCK TABLES `malla_restriccion` WRITE;
/*!40000 ALTER TABLE `malla_restriccion` DISABLE KEYS */;
/*!40000 ALTER TABLE `malla_restriccion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notificaciones`
--

DROP TABLE IF EXISTS `notificaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notificaciones` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `seguimiento_id` int(11) DEFAULT NULL,
  `alumno_id` int(11) NOT NULL,
  `hito` varchar(50) NOT NULL,
  `hito_label` varchar(100) NOT NULL,
  `fecha_vencimiento` date NOT NULL,
  `leida` tinyint(4) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `seguimiento_id` (`seguimiento_id`),
  KEY `alumno_id` (`alumno_id`),
  CONSTRAINT `notificaciones_ibfk_1` FOREIGN KEY (`seguimiento_id`) REFERENCES `seguimiento_practica` (`id`) ON DELETE CASCADE,
  CONSTRAINT `notificaciones_ibfk_2` FOREIGN KEY (`alumno_id`) REFERENCES `alumnos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notificaciones`
--

LOCK TABLES `notificaciones` WRITE;
/*!40000 ALTER TABLE `notificaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `notificaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notificaciones_alumno`
--

DROP TABLE IF EXISTS `notificaciones_alumno`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notificaciones_alumno` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `alumno_id` int(11) NOT NULL,
  `tipo` enum('postulacion_pendiente','postulacion_aceptada','postulacion_rechazada','hito_aprobado','hito_excedido','informe_recordatorio') DEFAULT NULL,
  `titulo` varchar(150) NOT NULL,
  `mensaje` text DEFAULT NULL,
  `leida` tinyint(4) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `alumno_id` (`alumno_id`),
  CONSTRAINT `notificaciones_alumno_ibfk_1` FOREIGN KEY (`alumno_id`) REFERENCES `alumnos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=80 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notificaciones_alumno`
--

LOCK TABLES `notificaciones_alumno` WRITE;
/*!40000 ALTER TABLE `notificaciones_alumno` DISABLE KEYS */;
/*!40000 ALTER TABLE `notificaciones_alumno` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notificaciones_empleador`
--

DROP TABLE IF EXISTS `notificaciones_empleador`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notificaciones_empleador` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `usuario_id` int(11) NOT NULL,
  `seguimiento_id` int(11) NOT NULL,
  `alumno_id` int(11) NOT NULL,
  `tipo` varchar(50) NOT NULL DEFAULT 'eval_empresa',
  `titulo` varchar(255) NOT NULL,
  `mensaje` text NOT NULL,
  `leida` tinyint(4) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notificaciones_empleador`
--

LOCK TABLES `notificaciones_empleador` WRITE;
/*!40000 ALTER TABLE `notificaciones_empleador` DISABLE KEYS */;
/*!40000 ALTER TABLE `notificaciones_empleador` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notificaciones_profesor`
--

DROP TABLE IF EXISTS `notificaciones_profesor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notificaciones_profesor` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `usuario_id` int(11) NOT NULL,
  `seguimiento_id` int(11) NOT NULL,
  `alumno_id` int(11) NOT NULL,
  `tipo` varchar(50) NOT NULL DEFAULT 'revision_informe',
  `titulo` varchar(150) NOT NULL,
  `mensaje` text DEFAULT NULL,
  `leida` tinyint(4) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `usuario_id` (`usuario_id`),
  KEY `alumno_id` (`alumno_id`),
  KEY `seguimiento_id` (`seguimiento_id`),
  CONSTRAINT `notificaciones_profesor_ibfk_1` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE,
  CONSTRAINT `notificaciones_profesor_ibfk_2` FOREIGN KEY (`alumno_id`) REFERENCES `alumnos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `notificaciones_profesor_ibfk_3` FOREIGN KEY (`seguimiento_id`) REFERENCES `seguimiento_practica` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notificaciones_profesor`
--

LOCK TABLES `notificaciones_profesor` WRITE;
/*!40000 ALTER TABLE `notificaciones_profesor` DISABLE KEYS */;
INSERT INTO `notificaciones_profesor` VALUES (1,1070,560,698,'revision_informe','? Informe asignado para revisi├│n','Debes revisar el informe de JORGE RUBEN CACERES (RUT: 21515449-1)',1,'2026-06-17 02:50:45');
/*!40000 ALTER TABLE `notificaciones_profesor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ofertas_practica`
--

DROP TABLE IF EXISTS `ofertas_practica`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ofertas_practica` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `empleador_id` int(11) NOT NULL,
  `titulo` varchar(150) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `conocimientos` text DEFAULT NULL,
  `tareas` text DEFAULT NULL,
  `modalidad` enum('Presencial','Remota','H├¡brida') DEFAULT 'Presencial',
  `horas_semanales` int(11) DEFAULT NULL,
  `horas_totales` int(11) DEFAULT NULL,
  `fecha_inicio` date DEFAULT NULL,
  `fecha_termino` date DEFAULT NULL,
  `nombre_supervisor` varchar(150) DEFAULT NULL,
  `practica_num` tinyint(4) DEFAULT 1,
  `activo` tinyint(4) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `empleador_id` (`empleador_id`),
  CONSTRAINT `ofertas_practica_ibfk_1` FOREIGN KEY (`empleador_id`) REFERENCES `empleadores` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ofertas_practica`
--

LOCK TABLES `ofertas_practica` WRITE;
/*!40000 ALTER TABLE `ofertas_practica` DISABLE KEYS */;
/*!40000 ALTER TABLE `ofertas_practica` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `organigrama`
--

DROP TABLE IF EXISTS `organigrama`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `organigrama` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `correo` varchar(100) DEFAULT NULL,
  `rol` varchar(50) NOT NULL,
  `lugar` varchar(100) DEFAULT NULL,
  `ruta_foto` varchar(100) DEFAULT 'uploads/default.jpg',
  `dpto` varchar(100) NOT NULL DEFAULT '',
  `telefono` varchar(20) DEFAULT NULL,
  `perfil_url` varchar(500) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `organigrama`
--

LOCK TABLES `organigrama` WRITE;
/*!40000 ALTER TABLE `organigrama` DISABLE KEYS */;
/*!40000 ALTER TABLE `organigrama` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plan`
--

DROP TABLE IF EXISTS `plan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `plan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `titulo` varchar(150) DEFAULT NULL,
  `anio` int(11) DEFAULT NULL,
  `version` varchar(20) DEFAULT NULL,
  `duracion` int(11) DEFAULT NULL,
  `fecha_oficializacion` date DEFAULT NULL,
  `fecha_inicio` date DEFAULT NULL,
  `fecha_cierre` date DEFAULT NULL,
  `enfoque` text DEFAULT NULL,
  `perfil_egreso` text DEFAULT NULL,
  `proposito_formativo` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plan`
--

LOCK TABLES `plan` WRITE;
/*!40000 ALTER TABLE `plan` DISABLE KEYS */;
/*!40000 ALTER TABLE `plan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `postulaciones`
--

DROP TABLE IF EXISTS `postulaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `postulaciones` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `oferta_id` int(11) NOT NULL,
  `alumno_id` int(11) NOT NULL,
  `estado` enum('pendiente','aceptada','rechazada') DEFAULT 'pendiente',
  `motivo_rechazo` text DEFAULT NULL,
  `carta_ruta` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `practica_num` tinyint(4) DEFAULT 1,
  PRIMARY KEY (`id`),
  KEY `oferta_id` (`oferta_id`),
  KEY `alumno_id` (`alumno_id`),
  CONSTRAINT `postulaciones_ibfk_1` FOREIGN KEY (`oferta_id`) REFERENCES `ofertas_practica` (`id`) ON DELETE CASCADE,
  CONSTRAINT `postulaciones_ibfk_2` FOREIGN KEY (`alumno_id`) REFERENCES `alumnos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `postulaciones`
--

LOCK TABLES `postulaciones` WRITE;
/*!40000 ALTER TABLE `postulaciones` DISABLE KEYS */;
INSERT INTO `postulaciones` VALUES (13,2,440,'aceptada',NULL,NULL,'2026-06-11 06:24:23',2),(17,2,698,'aceptada','',NULL,'2026-06-17 06:11:08',2),(18,3,316,'aceptada','',NULL,'2026-06-18 01:21:14',1),(19,2,2831,'aceptada','',NULL,'2026-06-25 06:49:46',1),(20,3,2831,'aceptada','',NULL,'2026-06-26 00:58:54',2),(21,3,2829,'pendiente',NULL,NULL,'2026-07-10 20:59:41',1);
/*!40000 ALTER TABLE `postulaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `practica`
--

DROP TABLE IF EXISTS `practica`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `practica` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `plan_id` int(11) NOT NULL,
  `codigo` varchar(20) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `orden` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_practica_plan_codigo` (`plan_id`,`codigo`),
  CONSTRAINT `practica_ibfk_1` FOREIGN KEY (`plan_id`) REFERENCES `plan` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `practica`
--

LOCK TABLES `practica` WRITE;
/*!40000 ALTER TABLE `practica` DISABLE KEYS */;
/*!40000 ALTER TABLE `practica` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profesores`
--

DROP TABLE IF EXISTS `profesores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `profesores` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `apellido1` varchar(100) NOT NULL,
  `apellido2` varchar(100) DEFAULT NULL,
  `correo` varchar(150) DEFAULT NULL,
  `tipo` varchar(100) DEFAULT NULL,
  `foto` varchar(255) DEFAULT NULL,
  `activo` tinyint(4) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profesores`
--

LOCK TABLES `profesores` WRITE;
/*!40000 ALTER TABLE `profesores` DISABLE KEYS */;
/*!40000 ALTER TABLE `profesores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seguimiento_observaciones`
--

DROP TABLE IF EXISTS `seguimiento_observaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `seguimiento_observaciones` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `seguimiento_id` int(11) NOT NULL,
  `hito` varchar(50) NOT NULL,
  `texto` text DEFAULT NULL,
  `archivo` varchar(255) DEFAULT NULL,
  `fecha_recepcion` date DEFAULT NULL,
  `fecha_registro` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `fecha_fin_recepcion` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_observaciones_seguimiento` (`seguimiento_id`),
  CONSTRAINT `fk_observaciones_seguimiento` FOREIGN KEY (`seguimiento_id`) REFERENCES `seguimiento_practica` (`id`) ON DELETE CASCADE,
  CONSTRAINT `seguimiento_observaciones_ibfk_1` FOREIGN KEY (`seguimiento_id`) REFERENCES `seguimiento_practica` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seguimiento_observaciones`
--

LOCK TABLES `seguimiento_observaciones` WRITE;
/*!40000 ALTER TABLE `seguimiento_observaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `seguimiento_observaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seguimiento_practica`
--

DROP TABLE IF EXISTS `seguimiento_practica`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `seguimiento_practica` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `alumno_id` int(11) NOT NULL,
  `plan` varchar(20) NOT NULL,
  `practica_num` tinyint(4) NOT NULL DEFAULT 1,
  `practica1_estado` tinyint(4) NOT NULL DEFAULT 0,
  `informe_elab_estado` tinyint(4) NOT NULL DEFAULT 0,
  `informe_rev_estado` tinyint(4) NOT NULL DEFAULT 0,
  `eval_empresa_estado` tinyint(4) NOT NULL DEFAULT 0,
  `comite_carrera_estado` tinyint(4) NOT NULL DEFAULT 0,
  `envioreg_estado` tinyint(4) NOT NULL DEFAULT 0,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `practica1_fecha_inicio` date DEFAULT NULL,
  `practica1_fecha_termino` date DEFAULT NULL,
  `practica1_empresa` varchar(100) DEFAULT NULL,
  `practica1_horas_sem` int(11) DEFAULT NULL,
  `practica1_horas_tot` int(11) DEFAULT NULL,
  `practica1_supervisor` varchar(255) DEFAULT NULL,
  `informe_elab_fecha_inicio` date DEFAULT NULL,
  `informe_elab_fecha_termino` date DEFAULT NULL,
  `informe_rev_fecha_inicio` date DEFAULT NULL,
  `informe_rev_fecha_termino` date DEFAULT NULL,
  `eval_empresa_fecha_inicio` date DEFAULT NULL,
  `eval_empresa_fecha_termino` date DEFAULT NULL,
  `comite_carrera_fecha_inicio` date DEFAULT NULL,
  `comite_carrera_fecha_termino` date DEFAULT NULL,
  `envioreg_fecha_inicio` date DEFAULT NULL,
  `envioreg_fecha_termino` date DEFAULT NULL,
  `numero_carta` varchar(100) DEFAULT NULL,
  `estado_final_practica` tinyint(4) DEFAULT 0,
  `informe_final` varchar(255) DEFAULT NULL,
  `eval_empresa_archivo` varchar(255) DEFAULT NULL,
  `herramientas` text DEFAULT NULL,
  `informe_rev_profesor_id` int(11) DEFAULT NULL,
  `informe_rev_carta_peticion` varchar(100) DEFAULT NULL,
  `informe_rev_carta_asignacion` varchar(100) DEFAULT NULL,
  `informe_fecha_subida` datetime DEFAULT NULL,
  `empresa_id` int(11) DEFAULT NULL,
  `practica1_jefe` varchar(150) DEFAULT NULL,
  `practica1_correo` varchar(150) DEFAULT NULL,
  `practica1_telefono` varchar(20) DEFAULT NULL,
  `envioreg_fecha_envio` date DEFAULT NULL,
  `practica_anio_aprobacion` int(11) DEFAULT NULL,
  `practica_semestre_aprobacion` varchar(20) DEFAULT NULL,
  `acta_firmada` varchar(255) DEFAULT NULL,
  `practica1_fecha_entrega` date DEFAULT NULL,
  `informe_elab_fecha_entrega` date DEFAULT NULL,
  `informe_rev_fecha_entrega` date DEFAULT NULL,
  `eval_empresa_fecha_entrega` date DEFAULT NULL,
  `comite_carrera_fecha_entrega` date DEFAULT NULL,
  `envioreg_fecha_entrega` date DEFAULT NULL,
  `carta_solicitud` varchar(255) DEFAULT NULL,
  `practica1_fecha_aprobacion` date DEFAULT NULL,
  `informe_elab_fecha_aprobacion` date DEFAULT NULL,
  `informe_rev_fecha_aprobacion` date DEFAULT NULL,
  `eval_empresa_fecha_aprobacion` date DEFAULT NULL,
  `comite_carrera_fecha_aprobacion` date DEFAULT NULL,
  `envioreg_fecha_aprobacion` date DEFAULT NULL,
  `informe_rev_formulario` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_alumno_plan_practica` (`alumno_id`,`plan`,`practica_num`),
  UNIQUE KEY `alumno_id` (`alumno_id`,`practica_num`),
  KEY `idx_plan` (`plan`),
  KEY `idx_alumno` (`alumno_id`),
  KEY `fk_seguimiento_profesor` (`informe_rev_profesor_id`),
  KEY `fk_seguimiento_empresa` (`empresa_id`),
  CONSTRAINT `fk_seguimiento_alumno` FOREIGN KEY (`alumno_id`) REFERENCES `alumnos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_seguimiento_empresa` FOREIGN KEY (`empresa_id`) REFERENCES `empresas` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_seguimiento_profesor` FOREIGN KEY (`informe_rev_profesor_id`) REFERENCES `profesores` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=564 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seguimiento_practica`
--

LOCK TABLES `seguimiento_practica` WRITE;
/*!40000 ALTER TABLE `seguimiento_practica` DISABLE KEYS */;
/*!40000 ALTER TABLE `seguimiento_practica` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuarios` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `rol` enum('admin','secretaria','alumno','empleador','jefe_carrera','profesor') DEFAULT NULL,
  `alumno_id` int(11) DEFAULT NULL,
  `profesor_id` int(11) DEFAULT NULL,
  `activo` tinyint(4) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `nombre` varchar(100) DEFAULT NULL,
  `apellido1` varchar(100) DEFAULT NULL,
  `apellido2` varchar(100) DEFAULT NULL,
  `correo` varchar(150) DEFAULT NULL,
  `empleador_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  KEY `fk_usuarios_alumno` (`alumno_id`),
  KEY `fk_usuarios_profesores` (`profesor_id`),
  KEY `fk_usuarios_empleador` (`empleador_id`),
  CONSTRAINT `fk_usuarios_alumno` FOREIGN KEY (`alumno_id`) REFERENCES `alumnos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_usuarios_empleador` FOREIGN KEY (`empleador_id`) REFERENCES `empleadores` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_usuarios_profesores` FOREIGN KEY (`profesor_id`) REFERENCES `profesores` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1996 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-10 15:57:09
