.ingreso {
  background-color: white;
  border-radius: 15px;
  padding: 25px;
  max-width: 100%;
  margin: 0 auto;
  gap: 40px;
  margin-top: 10px;
}

.datos{
    border: 1px solid #888888;
    border-radius: 15px;
    padding: 20px;
}
.volver{
    background-color:  white;
    color:#054182;
    border: 1px solid #054182;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}
.volver:hover {
    background-color: #054182;
    color: white;
    border-color: #054182;
}
.guardar {
    background-color:  #054182;
    color:white;
    border: 1px solid #054182;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}
.guardar:hover {
    background-color: white;
    color: #054182;
}
.cancelar {
    background-color: white;
    color:  red;
    border-color: red;
}

.cancelar:hover {
    background-color: red;
    color:  white;
}