<div class="profesores container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="titulo">👨‍🏫 Gestión de Profesores</h3>
    <button class="nuevo btn btn-primary btn-sm" (click)="toggleFormulario()">
      + Nuevo Profesor
    </button>
  </div>

  <div *ngIf="mensaje" class="alert alert-success">{{ mensaje }}</div>
  <div *ngIf="error"   class="alert alert-danger">{{ error }}</div>

  <!-- Formulario -->
  <div *ngIf="mostrarForm" class="modal-edicion-overlay">
    <div class="modal-edicion">
      <div class="text-end">
        <button class="btn btn-sm btn-danger" (click)="toggleFormulario()">X</button>
      </div>
      <h5 class="titulo card-title mb-3">Nuevo Profesor</h5>
      <div class="row g-2">
        <div class="col-sm-4">
          <label class="form-label">Nombre</label>
          <input type="text" class="form-control form-control-sm"
                 [(ngModel)]="nuevo.nombre" placeholder="Nombre">
        </div>
        <div class="col-sm-4">
          <label class="form-label">Apellido Paterno</label>
          <input type="text" class="form-control form-control-sm"
                 [(ngModel)]="nuevo.apellido1" placeholder="Apellido paterno">
        </div>
        <div class="col-sm-4">
          <label class="form-label">Apellido Materno</label>
          <input type="text" class="form-control form-control-sm"
                 [(ngModel)]="nuevo.apellido2" placeholder="Apellido materno">
        </div>
        <div class="col-sm-6 mt-2">
          <label class="form-label">Correo</label>
          <input type="email" class="form-control form-control-sm"
                 [(ngModel)]="nuevo.correo" placeholder="Correo electrónico">
        </div>
        <div class="col-sm-6 mt-2">
          <label class="form-label">Estado</label>
          <select class="form-select form-select-sm"
                  [(ngModel)]="nuevo.activo">
            <option [value]="1">Activo</option>
            <option [value]="0">Inactivo</option>
          </select>
        </div>
        <div class="col-sm-5 mt-2">
          <label class="form-label">Tipo</label>
          <select class="form-select form-select-sm" [(ngModel)]="nuevo.tipo">
            <option value="" disabled>— Selecciona tipo —</option>
            <option *ngFor="let t of tipos" [value]="t">{{ t }}</option>
          </select>
        </div>
        <div class="col-sm-4 mt-2 d-flex align-items-end">
          <button class="btn btn-outline-secondary btn-sm w-100"
                  (click)="mostrarNuevoTipo = !mostrarNuevoTipo">
            + Nuevo tipo
          </button>
        </div>
        <div class="col-12" *ngIf="mostrarNuevoTipo">
          <div class="d-flex gap-2 mt-1">
            <input type="text" class="form-control form-control-sm"
                  [(ngModel)]="nuevoTipo" placeholder="Ej: Hora DICI, Visitante...">
            <button class="btn btn-success btn-sm" (click)="agregarNuevoTipo('nuevo')">
              Agregar
            </button>
          </div>
        </div>
        <div class="col-sm-6 mt-2">
          <label class="form-label">Foto</label>
          <input type="file"
                class="form-control form-control-sm"
                (change)="onFotoSeleccionada($event)"
                [disabled]="creando || editando">
        </div>
      </div>
      <button class="btn btn-success btn-sm mt-3"
              [disabled]="creando" (click)="crear()">
        {{ creando ? 'Creando...' : 'Crear Profesor' }}
      </button>
      
    </div>
  </div>

  <!-- Tabla -->
  <div class="card">
    <div class="card-body p-0">
      <table class="table table-hover mb-0">
        <thead class="table-light">
          <tr>
            <th>Nombre completo</th>
            <th>Correo</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of profesores">
            <td>{{ p.nombre }} {{ p.apellido1 }} {{ p.apellido2 }}</td>
            <td>{{ p.correo }}</td>
            <td>
              <span class="badge"
                    [class.bg-success]="p.activo == 1"
                    [class.bg-secondary]="p.activo == 0">
                {{ p.activo == 1 ? 'Activo' : 'Inactivo' }}
              </span>
            </td>
            <td>
              <button class="btn btn-sm me-1"
                      [class.btn-warning]="p.activo == 1"
                      [class.btn-success]="p.activo == 0"
                      (click)="toggleActivo(p)">
                {{ p.activo == 1 ? 'Desactivar' : 'Activar' }}
              </button>
              <button class="btn btn-sm btn-danger me-1"
                      (click)="eliminar(p)">
                Eliminar
              </button>
              <button class="btn btn-sm btn-primary " 
                      (click)="abrirEditar(p)">
                Editar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    <!-- Modal Editar -->
  <div *ngIf="mostrarEditar" class="modal-edicion-overlay">
    <div class="modal-edicion">
      <div class="text-end">
        <button class="btn btn-sm btn-danger" (click)="cerrarEditar()">X</button>
      </div>
      <h5 class="titulo card-title mb-3">Editar Profesor</h5>
      <div class="row g-2">
        <div class="col-sm-4">
          <label class="form-label">Nombre</label>
          <input type="text" class="form-control form-control-sm"
                [(ngModel)]="editForm.nombre" placeholder="Nombre">
        </div>
        <div class="col-sm-4">
          <label class="form-label">Apellido Paterno</label>
          <input type="text" class="form-control form-control-sm"
                [(ngModel)]="editForm.apellido1" placeholder="Apellido paterno">
        </div>
        <div class="col-sm-4">
          <label class="form-label">Apellido Materno</label>
          <input type="text" class="form-control form-control-sm"
                [(ngModel)]="editForm.apellido2" placeholder="Apellido materno">
        </div>
        <div class="col-sm-6 mt-2">
          <label class="form-label">Correo</label>
          <input type="email" class="form-control form-control-sm"
                [(ngModel)]="editForm.correo" placeholder="Correo electrónico">
        </div>
        <div class="col-sm-6 mt-2">
            <label class="form-label">Estado</label>
            <select class="form-select form-select-sm"
                    [(ngModel)]="editForm.activo">
              <option [value]="1">Activo</option>
              <option [value]="0">Inactivo</option>
            </select>
        </div>
        <div class="col-sm-5 mt-2">
          <label class="form-label">Tipo</label>
          <select class="form-select form-select-sm" [(ngModel)]="editForm.tipo">
            <option value="" disabled>— Selecciona tipo —</option>
            <option *ngFor="let t of tipos" [value]="t">{{ t }}</option>
          </select>
        </div>
        <div class="col-sm-4 mt-2 d-flex align-items-end">
          <button class="editar btn btn-outline-secondary btn-sm w-100"
                  (click)="mostrarNuevoTipo = !mostrarNuevoTipo">
            + Nuevo tipo
          </button>
        </div>
        <div class="col-12" *ngIf="mostrarNuevoTipo">
          <div class="d-flex gap-2 mt-1">
            <input type="text" class="form-control form-control-sm"
                  [(ngModel)]="nuevoTipo" placeholder="Ej: Hora DICI, Visitante...">
            <button class="btn btn-success btn-sm" (click)="agregarNuevoTipo('editar')">
              Agregar
            </button>
          </div>
        </div>
        <div class="col-sm-6 mt-2">
          <label class="form-label">Foto</label>
          <input type="file"
                class="form-control form-control-sm"
                (change)="onFotoSeleccionada($event)"
                [disabled]="creando || editando">
        </div>
      </div>
      <button class="editar btn btn-primary btn-sm mt-3"
              [disabled]="editando" (click)="guardarEdicion()">
        {{ editando ? 'Guardando...' : 'Guardar cambios' }}
      </button>
    </div>
  </div>
</div>