.eval {
    border-radius: 15px;
    background-color: white;
    padding: 20px;
}
.titulo {
  color: #054182;
  font-family: cursive, system-ui, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 3px;
  letter-spacing: 0.01em;
}